<div class="row">
    <div id="search" class="container center-block">
        <form>
          <input type ="text" class="form-control" ng-model="query" placeholder="Your search query here.">
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-2"></div>
    <div id="list" class="col-lg-8">
      <span>Now showing results for: {{ query }}</span>
      <div id="song-table">
        <table class=" table table-condensed table-striped">
            <tr>
              <th>Artist</th>
              <th>Album</th>
              <th>Title</th>
              <th>Length</th>
            </tr>
            <tr ng-repeat="song in songs" ng-dblclick="queueSong(song)">
              <td>{{ song.artist }}</td>
              <td>{{ song.album }}</td>
              <td>{{ song.title }}</td>
              <td>{{ song.length }}</td>
            </tr>
          </table>
        </div>
    </div>
    <div class="col-lg-2">
        <div mg-queue ng-controller="QueueCtrl"></div>
    </div>
</div>

<div mg-player ng-controller="PlayerCtrl" class="row"></div>
