body {
    font-family: "Helvetica", "Arial";
}

#song-window {
    border: 1px solid black;
    width: 80%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}

#player {
    border: 1px solid black;
    width:100%;
    height:100px;
    margin-bottom: 0px;
    margin-top: auto;
}

#search {
    margin-left:auto;
    margin-right:auto;
}